h1 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-weight: 600;
  color: #911d47;
}

img {
  height: 300px;
  width: auto;
}
form{
  border-radius: 10px;
  border:0;
  width: 400px;
  margin: 0 10px;
  font-size: 20px;

}
button{
  text-decoration: none;
  text-decoration-color: #911d47;
}

