form{
    display: flex;
  
  align-items: center;
    border-radius: 10px;
    border:0;
    padding:0.5%;
    width: 1000px;
    margin-left: 510px;
    font-size: 20px;
  
  }

  button{
    text-decoration: none;
    text-decoration-color: #911d47;
  }