nav img {
  height: 50px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #d4cdc9;
}

.fa-icon-container a {
  text-decoration: none;
}

.fa-icon-container a:hover {
  color: black;
}
